body {
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    display: flex;
    justify-content: space-between;
}

.form-place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    font-family: 'Baloo Tamma 2', cursive;
}


.list-div {
    color: #3b3b3b;
    box-shadow: 4px 6px 5px rgba(36, 38, 66, 0.787);
    border: 1px solid rgba(36, 38, 66, 0.787);
    max-width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px;
}

.form-div {
    color: #3b3b3b;
    box-shadow: 4px 6px 5px rgba(36, 38, 66, 0.787);
    border: 1px solid rgba(36, 38, 66, 0.787);
    max-width: 100%;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px;
}

#list {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

input {
    border-radius: 5px;
    outline: none;
}

.edit-input {
    height: 35px;
    width: 180px;
}

textarea {
    border-radius: 5px;
}

textarea,
input:active {
    outline: none;
}


.error {
    position: absolute;
    top: 50%;
    right: 60%;
    width: 300px;
    height: 100px;
    background: red;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.add-btn {
    border-radius: 5px;
    border: none;
    background: #095a14;
    color: wheat;
    font-weight: bolder;
    margin-top: 15px;
    width: 170px;
    height: 50px;
    box-shadow: 5px 5px 5px #095a14;
    transition: transform ease 0.3s, box-shadow ease 0.3s
}

.add-btn:hover {
    transform: translateX(5px);
    box-shadow: none;
    opacity: 0.9;
}

.btn-div {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.done-info {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    transition: transform ease 0.4s;
}

.del-btn {
    width: 20px;
    height: 20px;
    border: none;
    background: url(./icon/cancel-svgrepo-com.svg);
    transition: transform ease 0.4s;
}

.edit-btn:hover,
.del-btn:hover,
.done-info:hover {
    cursor: pointer;
    transform: scale(1.1);
    outline: none;
}


.edit-btn {
    width: 20px;
    height: 20px;
    border: none;
    background: url(./icon/edit-button-svgrepo-com.svg);
    transition: transform ease 0.4s;
}

li {
    transition: transform ease 0.3s;
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.li-obj {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc {
    font-size: 12px;
    line-height: 12px;
}

.task-text:hover {
    opacity: 0.8;
    cursor: pointer;
}

.done {
    background: green;
}