.color-choice{
    display: flex;
    justify-content: space-between;
    margin: 27px 0px 15px 0px;
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 270px;
}

input[type="radio"] {
    position: absolute;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
}

label:hover{
    cursor: pointer;
}

input[type="radio"]:checked + div {
    border: 2px solid var(--black);
}

input[type="radio"]:checked + div {
    border: 2px solid var(--black);
}


.color__check{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: transform ease 0.3s;
    margin-right: 7px;
}

.color-pick{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    transition: transform ease 0.3s;
}

.color-pick:hover, .color__check:hover{
    transform: scale(1.1);
}

.white{
    background: var(--beige);
}

.pink{
    background: var(--lightpink);
}

.skyblue{
    background: var(--skyblue);
}

.green{
    background: var(--lightgreen);
}

.orange {
    background: var(--lightorange);
}