@import './form.css';
@import './color-choice.css';
@import './stat-style.css';
@import './tasklist.css';

:root{
    --white: #ffffff;
    --beige: #FFFBE3;
    --lightblue: #92AED9;
    --black: #333333;
    --lightpink: #FFD2D2;
    --skyblue:#D3D2FF;
    --lightgreen:#D7FDD1;
    --lightorange:#F8E1B6;
    --malachite:#57AD56;
    --gray:#D8D8D8;
    --blood:#B01E1E;
}

body {
    margin: 0px;
}

h1, h2, h3, p{
    margin: 0px;
}

.body{
    background: var(--lightblue);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
}


.block{
    background: var(--beige);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 40px;
}


.error-msg{
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    width: 100%;
}

.error {
    padding-left: 5px;
    color: var(--blood);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
}

