.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 331px;
}

.stat__title{
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 25px;
}

.stat__bar{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0px;
    border-left: 3px solid var(--black);
}

.open-bar{
    width: auto;
    height: 34px;
    background: var(--white);
}

.close-bar{
    width: auto;
    height: 34px;
    background: var(--white);
}

span {
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 5px;
}

.open__line{
    height: 100%;
    background:var(--gray);
    width: 0px;
    transition: width ease 0.3s;
}

.close__line{
    height: 100%;
    background:var(--malachite);
    width: 0px;
    transition: width ease 0.3s;
}