.list-cont {
    width: 100%;
}


#list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 60px;
    min-width: auto;
}

li {
    list-style: none;
    min-width: auto;
}

.li-obj {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 30px;
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas:
        "task task done"
        "desc desc desc"
        "clr clr del";
}

.edit-input{
    width: 200%;
}

.edit-textarea {
    width: 300%;
}

.task-name {
    grid-area: task;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--black);
    word-wrap: break-word;
}

.task-desc {
    grid-area: desc;
    word-wrap: break-word;
}

.done-btn {
    grid-area: done;
    border: none;
    width: 30px;
    height: 30px;
    background: url('../icon/done.svg');
    opacity: 0.4;
}

.done{
    opacity: 1;
}

.del-btn {
    grid-area: del;
    border: none;
    width: 30px;
    height: 30px;
    background: url('../icon/basket.svg');
}

.color {
    grid-area: clr;
}

.exist-info {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.exist-info img {
    margin-right: 14px;
}